body {
    font-family: Arial;
    background: #f5f5f5;
    padding: 40px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

table input {
    width: 150px;
}